/* Homepage */

#homepage-hero {
    grid-column-start: 2;
    grid-column-end: 8;

    h1 {
        font-size: 5.2rem;
        line-height: 110%;
        margin: 14.6rem 0 6.9rem 0;
    }

    @include laptop {
        grid-column-end: 10;
    }

    @include tablet {
        grid-column-end: 8;
        
        h1 {
            font-size: 4.8rem;
            line-height: 100%;
            margin: 11.6rem 0 5.3rem 0;
        }
    }

    @include mobile {
        grid-column-start: 1;
        grid-column-end: 5;

        h1 {
            font-size: 4rem;
            line-height: 110%;
            margin: 93px 0 40px 0;
        }
    }
}

#homepage-content {
    grid-column-start: 1;
    grid-column-end: 13;
    margin-bottom: 11.1rem;

    @include tablet {
        grid-column-end: 9;
        margin-bottom: 74px;
    }
    
    @include mobile {
        grid-column-end: 5;
    }

    .sub-headline {
        margin-bottom: 2.2rem;

        @include mobile {
            margin-bottom: 1.8rem;
        }
    }

    .project-grid {
        
        .project-list {
            display: grid;
            column-gap: 2.4rem;
            row-gap: 3.8rem;
            grid-template-columns: repeat(2, 1fr);

            @include mobile {
                grid-template-columns: 1fr; 
                row-gap: 2.6rem;
            }
        }

        .project-card {

            .project-thumb {
                border-radius: 2.4rem;
                display: flex;
                overflow: hidden;

                img {
                    height: auto;
                    transition: all .8s ease-out;
                    width: 100%;
                }

                @include mobile {
                    border-radius: 1.6rem;
                }
            }
        }

        a:hover img {
            transform: scale(1.1);
        }

        .project-meta {
            margin-top: 2rem;

            h2 {
                font-size: 3.2rem;
                letter-spacing: -0.02rem;
                line-height: 120%;
                margin-top: 1.2rem;
                @include medium;

                @include tablet {
                    line-height: 110%;
                }
            }

            @include mobile {
                margin-top: 1.6rem;

                h2 {
                    font-size: 2.8rem;
                    letter-spacing: -.016rem;
                    margin-top: 1.1rem;
                }
            }
        }
    }
}