/* Project page styling */

.project {

    img {
        height: auto;
        width: 100%;
    }

    /* Project Hero */

    #project-hero {
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 13;
        margin-top: 10.8rem;

        @include tablet {
            grid-column-end: 9;
        }

        @include mobile {
            grid-column-end: 5;
        }
    }

    .project-hero-meta {
        grid-column-start: 1;
        grid-column-end: 6;

        .sub-headline {
            margin-bottom: 1.4rem;
        }

        h1 {
            font-size: 5.2rem;
            letter-spacing: -0.064rem;
            line-height: 100%;
            margin-bottom: 2.4rem;
            @include medium;
        }
        
        .tags {
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 4.3rem;
        }

        p {
            max-width: 80%;
        }
        
        @include tablet {
            grid-column-end: 9;

            .tags {
                margin-bottom: 3.4rem;
            }
        }

        @include mobile {
            grid-column-end: 5;

            .sub-headline {
                margin-bottom: 1rem;
            }

            h1 {
                font-size: 44px;
                letter-spacing: -0.024rem;
                line-height: 110%;
                margin-bottom: 1.7rem;
            }

            p {
                max-width: 100%;
            }

            .tags {
                margin-bottom: 2.6rem;
            }
        }
    }
    
    .project-hero-img {
        display: flex;
        grid-column-start: 6;
        grid-column-end: 13;

        img {
            border-radius: 2.4rem;
        }

        @include tablet {
            grid-column-start: 1;
            grid-column-end: 9;

            margin-top: 4.2rem;
        }

        @include mobile {
            grid-column-end: 5;
            margin-top: 2.6rem;

            img {
                border-radius: 1.6rem;
            }
        }
    }

    /* Project Content */

    #project-content {
        grid-column-start: 1;
        grid-column-end: 13;
        margin-top: 7.8rem;

        h3, p, ul, ol {
            grid-column-start: 3;
            grid-column-end: 8; 
        }

        h3 {
            text-transform: uppercase;
        }

        img {
            border-radius: 2.4rem;
            grid-column-start: 3;
            grid-column-end: 11;
        }

        @include tablet {
            grid-column-start: 1;
            grid-column-end: 9;
            margin-top: 5.8rem;

            h3, p, ul, ol, img {
                grid-column-start: 2;
                grid-column-end: 8; 
            }
        }

        @include mobile {
            grid-column-end: 5;
            margin-top: 4.6rem;

            h3, p, ul, ol, img {
                grid-column-start: 1;
                grid-column-end: 5; 
            }

            img {
                border-radius: 1.6rem;
            }
        }
    }
    /* About me profile page */

    &.about {

        /* About me hero */

        .project-hero-img {
            grid-column-start: 8;
            grid-column-end: 12;
        }

        #project-content .project-grid {

            p {
                grid-column-start: 4;
                grid-column-end: 10;
            }

            img {
                grid-column-start: 4;
                grid-column-end: 10;
                margin-bottom: 12rem;
            }
        }

        @include tablet {

            .project-hero-img {
                grid-column-start: 1;
                grid-column-end: 5;
            }

            #project-content .project-grid {

                p {
                    grid-column-start: 1;
                    grid-column-end: 8;
                }

                img {
                    grid-column-start: 1;
                    grid-column-end: 9;
                    margin-bottom: 8rem;
                }
            }
        }

        @include mobile {

            .project-hero-img {
                grid-column-start: 1;
                grid-column-end: 5;
            } 

            #project-content .project-grid {

                p {
                    grid-column-start: 1;
                    grid-column-end: 5;
                }

                img {
                    grid-column-start: 1;
                    grid-column-end: 5;
                }
            }
        }
    }
}

/* Image pop-up modal styling */

.modal-target {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    align-items: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    box-sizing: border-box;
    display: none; /* Hidden by default */
    height: 100dvh;
    justify-content: center;
    left: 0;
    position: fixed;
    padding: 6rem 2rem;
    top: 0;
    overflow: auto;
    width: 100%;
    z-index: 2000;

    @include mobile {
        padding: 2rem;
    }
}

/* Modal Content (image) */
.modal-content {
    height: auto;
    max-height: 80dvh;
    width: 100%;
}

/* Add Animation */
.modal-content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-atransform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.modal-close {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    color: #FFF;
    transition: 0.3s;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;

    &:after,
    &:before {
        border-radius: 5rem;
        content: '';
        position: absolute;
        left: 1.2rem;
        height: 2.4rem;
        width: 2px;
        background-color: #FFF;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.modal-close:hover,
.modal-close:focus {
    cursor: pointer;
}


/* Next Project - Footer Anchor */


.next-project {
    display: flex;
    justify-content: center;
    margin-top: 7.1rem;
    overflow: hidden;

    .project-container {
        height: 30rem;
        max-width: 64rem;
        translate: 0 8rem;
        transition: translate .3s ease-in-out;

        &:hover {
            translate: 0;
        }
    }

    h2 {
        font-size: 4rem;
        line-height: 100%;
        letter-spacing: -.04rem;
        margin-top: 1.3rem;
        margin-bottom: 2.6rem;
    }

    img {
        border-radius: 2.4rem;
        height: auto;
        width: 100%;
    }

    @include mobile {
        margin-top: 5.2rem;
        padding: 0 2.4rem;

        .project-container {
            height: 24rem;
            translate: 0 4rem;
        }

        h2 {
            font-size: 3.2rem;
            letter-spacing: -0.032rem;
            margin-top: -.4rem;
            margin-bottom: 1.9rem;
        }
    }
}
